html {
  font-family: sans-serif;
  color: #525252;
  background: #f2d435; }

h1, canvas, #scores {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px; }

h1 {
  margin: -272px 0 0 -200px;
  border-bottom: #525252 solid 4px;
  text-transform: uppercase; }

canvas {
  margin: -200px 0 0 -200px;
  border: 1px solid #a29343; }

#scores {
  margin: 200px 0 0 -200px; }

.controls {
  display: inline-block;
  width: 60px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px; }
